# Exemplo de configuração de Secrets no Streamlit Cloud
GEMINI_API_KEY = "sua_chave_api_aqui"
GOOGLE_FORM_URL = "https://docs.google.com/forms/d/e/1FAIpQLSe9ksgUqxMqSY8OUtDwmjwY187PPVguHBu7wHcUnOQA1eQTIg/formResponse"
GOOGLE_ENTRY_NOME_ALUNO = "entry.1009783107"
GOOGLE_ENTRY_PROMPT_ALUNO = "entry.1559793013"
GOOGLE_ENTRY_RESPOSTA_IA = "entry.2041274618"
